.svn
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tmp/
*.swp
.benchmark_reports
/.project
/.cproject
*.bak

/out
/default
# various stuff that VC++ produces/uses
Debug/
Release/
*.sln
!nodemsi.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.opensdf

/options.gypi
/common.gypi
*-nodegyp*
/gyp-mac-tool

lib/snmp.node

test/node_modules
format_code.bat

deps/openssl
*.orig


tools/gyp
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
vcbuild.bat
